:host {
  display: block;
  perspective: 1000px;
  /* adjust for the bottom side of the chessboard appearing bigger */
  margin-top: -5%;
}

chessboard {
  margin: 0 auto;
}

/* default style: mobile (portrait) */
chessboard {
  height: 80vw;
  width: 80vw;
}

/* on wide displays */
@media (min-aspect-ratio: 5/4) {
  chessboard {
    height: 100vh;
    width: 100vh;
  }
}