:host {
  display: block;
  perspective: 1000px;
  /* adjust for the bottom side of the chessboard appearing bigger */
  margin-top: -5%;
}

chessboard {
  margin: 0 auto;
}

/* default style: mobile (portrait) */
chessboard {
  height: 80vw;
  width: 80vw;
}

/* on wide displays */
@media (min-aspect-ratio: 5/4) {
  chessboard {
    height: 100vh;
    width: 100vh;
  }
}

/* container that rotates in order to turn the chessboard;
1s delay to allow for piece to move first */
.rotating {
  transition: transform 2s 1s;
}

.rotating.white {
  transform: rotateX(40deg) rotateZ(0deg);
}

.rotating.black {
  transform: rotateX(40deg) rotateZ(180deg);
}
