/* the host element will cover the entire field, the piece is
positioned within the field */
:host {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.piece-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5%;
  width: 12.5%;
  transition: bottom 1s, left 1s;
}

.piece {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 50%;
  border-radius: 50%;
  font-size: 4.5vmin;
  box-shadow: 0 0px 1vmin rgba(0, 0, 0, 0.4);
}

.piece.black {
  background-color: black;
  color: #eee;
  transform: rotate(180deg);
}

.piece.white {
  background-color: #eee;
  color: black;
}

.piece.active {
  color: yellow;
}

.piece.out {
  display: none;
}